name: Update edited files in the database

on:
  push:
    branches: [ "main" ]
    paths: [ "courses/**" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6
        with:
          FORMAT: json
      - run: echo '${{ env.GIT_DIFF }}' | jq .
