name: Update edited files in the database

on:
  push:
    branches: [ "main" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Debug
        run: |
          echo "GITHUB_EVENT_PATH=$GITHUB_EVENT_PATH"
          cat $GITHUB_EVENT_PATH

      - uses: technote-space/get-diff-action@v6
        with:
          FORMAT: json
      - run: echo '${{ env.GIT_DIFF }}' | jq .
