name: Update edited files in the database

on:
  push:
    branches: [ "main" ]
    paths: [ "courses/**" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Debug
        run: |
          echo "GITHUB_EVENT_PATH=$GITHUB_EVENT_PATH"
          cat $GITHUB_EVENT_PATH

      - name: Print list of changed files
        run: |
          if git rev-parse --verify HEAD^ >/dev/null 2>&1; then
            git diff --name-only HEAD^ HEAD | while read filename; do
            echo "Changed file: $filename"
          done
          else
            git diff --name-only HEAD | while read filename; do
            echo "Changed file: $filename"
          done
          fi
